@page "/detalle/{Id:int}"
@rendermode InteractiveServer
@inject DetalleViewModel VM

<div class="contenedor-detalle">
    <div class="contenedor-titulo">
        <h1>@VM.Titulo</h1>
    </div>
    <div class="form-group">
        <label class="label-principal">Descripción (500 letras)</label>
        <textarea class="caja-texto" @bind="VM.Reunion.Desc" maxlength="500"></textarea>
        <div class="contador-letras">
            @(VM.Reunion.Desc?.Length ?? 0) letras
        </div>
    </div>
    <div class="opcion-virtual">
        <label>¿Es virtual?</label>
        <input type="checkbox" @bind="VM.Reunion.Virtual" class="check-virtual" />
    </div>
    <div class="footer-detalle">
        <button class="btn-confirmar" @onclick="VM.VolverAtras">Volver</button>
        <button class="btn-icono btn-editar" @onclick="() => VM.SeleccionarParaEditar(VM.Reunion)">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
        </button>
    </div>
</div>
<ModalEdit visible="VM.ModalVisible" reunion="VM.ReunionSelec" 
              OnGuardar="VM.GuardarEdicion" OnCerrar="() => VM.ModalVisible = false" />
@code 
{ 
    [Parameter] public int Id { get; set; }
    protected override void OnInitialized() => VM.CargarReunion(Id); 
}